<head id="endModal-head">
    <link rel="stylesheet" href="styles/endModal.css">
</head>
<div id="EM-outer-wrapper">
    <div id="EM-inner-wrapper">
        <div class="modal-shadow" id="end-shadow"></div>
        <div id="order-up-wrapper"><img id="order-up" src="assets/order-up.png"></div>
        <label class = "wt-box" id="burger-price-title">$00.00 Green Machine</label>
        <div id="price-breakdown">
            <div class="pb" id="pb-0"></div>
            <div class="pb" id="pb-1"></div>
            <div class="pb" id="pb-2"></div>
            <div class="pb" id="pb-3"></div>
            <div class="pb" id="pb-4"></div>
            <div class="pb" id="pb-5"></div>
        </div>

        <div class = "wt-box" id="order-tip">
            <label class="order-label">TIP</label>
            <label id="order-tip-label">$00.00</label>
        </div>
        <div class = "wt-box" id="order-total">
            <label class="order-label">TOTAL</label>
            <label id="order-total-label">$00.00</label>
        </div>
        <div id="continue-btn-wrapper-end"><button id="continue-btn-end">Tap to continue</button></div>
    </div>
</div>