<head id="failedModal-head">
    <style>
        #failed-order{
            position: relative;
            top: -50%;
            width: 90%;
            rotate: z 1deg;
        }
        #failed-order-wrapper{
            position: relative;
            width: 100%;
            height: 13%;
            text-align: center;
        }
        #FM-wrapper{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<div id="FM-wrapper">
    <div id="failed-order-wrapper"><img id="failed-order" src="assets/order-fail.png"></div>
</div>