<head id="levelModal-head">
    <link rel="stylesheet" href="styles/levelModal.css">
</head>
<div id="LM-outer-wrapper">
    <div id="LM-inner-wrapper">
        <div class="modal-shadow" id="level-shadow"></div>
        <!-- <h1>New Order!</h1> -->
        <div id="new-order-wrapper"><img id="new-order" src="assets/new-order.png"></div>
        <label id="order-number-label">order #0</label>
        <label id="order-name-label">"Order Name"</label>
        <div id="order-div">
            <div id="burger-grid">
                <!-- <div class="preview-topping" style="grid-area: top;">top</div> -->
                <!-- <div class="preview-topping Tomato" style="grid-area: t1;">t1</div> -->
                <!-- <div class="preview-topping" style="grid-area: n1;">x n1</div> -->
                <!-- <div class="preview-topping" style="grid-area: t2;">t2</div> -->
                <!-- <div class="preview-topping" style="grid-area: n2;">x n2</div>  -->
                <!-- <div class="preview-topping" style="grid-area: btm;">btm</div> -->
            </div>
        </div>
        <div id="continue-btn-wrapper"><button id="continue-btn">Tap to continue</button></div>
    </div>
</div>