<head id="MainMenu-head">
    <link rel="stylesheet" href="styles/MainMenu.css">
</head>
<div id="MM-wrapper">
    <h1 id="MM-title">Space<br>Borger</h1>
    <div id="MM-buttons">
        <button class="MM-btn" id="MM-btn-play">Play</button>
        <button class="MM-btn" id="MM-btn-career">Career</button>
        <button class="MM-btn" id="MM-btn-settings">Settings</button>
        <button class="MM-btn" id="MM-btn-help">Help</button>
        <button class="MM-btn" id="MM-btn-back">Back</button>
    </div>
</div>